{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

<h1>Connexion</h1>

{% if error %}
    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{{ form_start(loginType) }}
    {{ form_row(loginType.email) }}
    {{ form_row(loginType.password) }}
    <button type="submit">Se connecter</button>
{{ form_end(loginType) }}

<p>
    Pas encore inscrit ? <a href="{{ path('register') }}">Créez un compte</a>
</p>


{% endblock %}
