{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous!{% endblock %}

{% block body %}

<h1>Inscrivez-vous !</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.isSubscribed) }}
    <button type="submit">Je m'inscris !</button>
{{ form_end(form) }}


{% endblock %}
